<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/user/layout-user.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="main" layout:fragment="content">
    <!-- Tiêu Đề Trang -->
    <div
            class="page-title dark-background"
            data-aos="fade"
    >
        <div class="container position-relative">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index-test.html">Trang Chủ</a></li>
                    <li class="current">Tin tức</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Kết Thúc Tiêu Đề Trang -->

    <!-- Blog Posts 2 Section -->
    <section id="blog-posts-2" class="blog-posts-2 section">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <article class="position-relative h-100">
                        <div class="post-img position-relative overflow-hidden">
                            <img
                                    th:src="@{/user/img/blog/blog-1.jpg}"
                                    class="img-fluid"
                                    alt="Hình ảnh bài viết"
                            />
                        </div>

                        <div class="meta d-flex align-items-end">
                            <span class="post-date"><span>12</span> Tháng 12</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-person"></i>
                                <span class="ps-2">John Doe</span>
                            </div>
                            <span class="px-3 text-black-50">/</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-folder2"></i>
                                <span class="ps-2">Chính trị</span>
                            </div>
                        </div>

                        <div class="post-content d-flex flex-column">
                            <h3 class="post-title">
                                Tận hưởng vẻ đẹp thời gian và giá trị đích thực
                            </h3>
                            <a href="blog-details-test.html" class="readmore stretched-link">
                                <span>Xem Thêm</span><i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
                <!-- Kết thúc mục bài viết -->


                <div class="col-lg-4">
                    <article class="position-relative h-100">
                        <div class="post-img position-relative overflow-hidden">
                            <img
                                    th:src="@{/user/img/blog/blog-2.jpg}"
                                    class="img-fluid"
                                    alt="Hình ảnh bài viết"
                            />
                        </div>

                        <div class="meta d-flex align-items-end">
                            <span class="post-date"><span>19</span> Tháng 3</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-person"></i>
                                <span class="ps-2">Julia Parker</span>
                            </div>
                            <span class="px-3 text-black-50">/</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-folder2"></i>
                                <span class="ps-2">Kinh Tế</span>
                            </div>
                        </div>

                        <div class="post-content d-flex flex-column">
                            <h3 class="post-title">
                                Bí quyết quản lý tài chính hiệu quả trong thời trang
                            </h3>
                            <a href="blog-details-test.html" class="readmore stretched-link">
                                <span>Xem Thêm</span><i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
                <!-- Kết Thúc Bài Viết -->


                <div class="col-lg-4">
                    <article class="position-relative h-100">
                        <div class="post-img position-relative overflow-hidden">
                            <img
                                    th:src="@{/user/img/blog/blog-3.jpg}"
                                    class="img-fluid"
                                    alt="Hình ảnh bài viết"
                            />
                        </div>
                        <div class="meta d-flex align-items-end">
                            <span class="post-date"><span>24</span> Tháng 6</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-person"></i>
                                <span class="ps-2">Maria Doe</span>
                            </div>
                            <span class="px-3 text-black-50">/</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-folder2"></i>
                                <span class="ps-2">Thể Thao</span>
                            </div>
                        </div>

                        <div class="post-content d-flex flex-column">
                            <h3 class="post-title">
                                Bí quyết lựa chọn trang phục thể thao phù hợp
                            </h3>
                            <a href="blog-details-test.html" class="readmore stretched-link">
                                <span>Xem Thêm</span><i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
                <!-- Kết Thúc Bài Viết -->

                <div class="col-lg-4">
                    <article class="position-relative h-100">
                        <div class="post-img position-relative overflow-hidden">
                            <img
                                    th:src="@{/user/img/blog/blog-4.jpg}"
                                    class="img-fluid"
                                    alt="Hình ảnh bài viết"
                            />
                        </div>
                        <div class="meta d-flex align-items-end">
                            <span class="post-date"><span>05</span> Tháng 8</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-person"></i>
                                <span class="ps-2">Maria Doe</span>
                            </div>
                            <span class="px-3 text-black-50">/</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-folder2"></i>
                                <span class="ps-2">Thể Thao</span>
                            </div>
                        </div>

                        <div class="post-content d-flex flex-column">
                            <h3 class="post-title">
                                Làm thế nào để tối ưu hóa phong cách thể thao của bạn?
                            </h3>
                            <a href="blog-details-test.html" class="readmore stretched-link">
                                <span>Xem Thêm</span><i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
                <!-- Kết Thúc Bài Viết -->

                <div class="col-lg-4">
                    <article class="position-relative h-100">
                        <div class="post-img position-relative overflow-hidden">
                            <img
                                    th:src="@{/user/img/blog/blog-5.jpg}"
                                    class="img-fluid"
                                    alt="Hình ảnh bài viết"
                            />
                        </div>

                        <div class="meta d-flex align-items-end">
                            <span class="post-date"><span>17</span> Tháng 9</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-person"></i>
                                <span class="ps-2">John Parker</span>
                            </div>
                            <span class="px-3 text-black-50">/</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-folder2"></i>
                                <span class="ps-2">Chính Trị</span>
                            </div>
                        </div>

                        <div class="post-content d-flex flex-column">
                            <h3 class="post-title">
                                Sự ảnh hưởng của thời trang trong văn hóa chính trị
                            </h3>
                            <a href="blog-details-test.html" class="readmore stretched-link">
                                <span>Xem Thêm</span><i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
                <!-- Kết Thúc Bài Viết -->

                <div class="col-lg-4">
                    <article class="position-relative h-100">
                        <div class="post-img position-relative overflow-hidden">
                            <img
                                    th:src="@{/user/img/blog/blog-6.jpg}"
                                    class="img-fluid"
                                    alt="Hình ảnh bài viết"
                            />
                        </div>

                        <div class="meta d-flex align-items-end">
                            <span class="post-date"><span>07</span> Tháng 12</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-person"></i>
                                <span class="ps-2">Julia White</span>
                            </div>
                            <span class="px-3 text-black-50">/</span>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-folder2"></i>
                                <span class="ps-2">Kinh Tế</span>
                            </div>
                        </div>

                        <div class="post-content d-flex flex-column">
                            <h3 class="post-title">
                                Thời trang và vai trò trong nền kinh tế hiện đại
                            </h3>
                            <a href="blog-details-test.html" class="readmore stretched-link">
                                <span>Xem Thêm</span><i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </article>
                </div>
                <!-- Kết Thúc Bài Viết -->

                <section id="blog-pagination" class="blog-pagination section">
                    <div class="container">
                        <div class="d-flex justify-content-center">
                            <ul>
                                <li>
                                    <a href="#"><i class="bi bi-chevron-left"></i></a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="active">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li>...</li>
                                <li><a href="#">10</a></li>
                                <li>
                                    <a href="#"><i class="bi bi-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>


                <!-- /Phân Trang Blog -->

                <!-- Phần Kêu Gọi Hành Động -->
                <section
                        id="call-to-action"
                        class="call-to-action section light-background"
                >
                    <div class="content">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <h3>Đăng Ký Nhận Bản Tin</h3>
                                    <p class="opacity-50">
                                        Hãy để lại email của bạn để nhận thông tin mới nhất về các sản phẩm và ưu đãi
                                        hấp dẫn!
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <form class="form-subscribe php-email-form">
                                        <div class="form-group d-flex align-items-stretch">
                                            <input
                                                    type="email"
                                                    name="email"
                                                    class="form-control h-100"
                                                    placeholder="Nhập email của bạn"
                                            />
                                            <input
                                                    type="submit"
                                                    class="btn btn-secondary px-4"
                                                    value="Đăng Ký"
                                            />
                                        </div>
                                        <div class="loading">Đang xử lý...</div>
                                        <div class="error-message">Có lỗi xảy ra, vui lòng thử lại!</div>
                                        <div class="sent-message">
                                            Yêu cầu đăng ký của bạn đã được gửi. Cảm ơn bạn!
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Phần Kêu Gọi Hành Động -->
            </div>
        </div>
    </section>
</main>
</body>
</html>