<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/user/layout-user.html}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <style>
        @media (min-width: 1025px) {
            .h-custom {
                height: 100vh !important;
            }
        }
    </style>
</head>

<body>
<main layout:fragment="content">
    <div
            class="page-title dark-background"
            data-aos="fade"
    >
        <div class="container position-relative">
            <nav class="breadcrumbs">
                <ol>
                    <li><a th:href="@{/general/home-page}">Trang Chủ</a></li>
                    <li class="current">Giỏ hàng</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class=>
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 d-flex justify-content-between">
                    <div></div>
                    <ul class="action-list d-flex" style="list-style-type: none">
                        <li class="pe-3">
                            <a type="button" class="editBtn btn btn-primary" th:href="@{/web/products}">
                                Thêm sản phẩm vào giỏ
                            </a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-danger" id="deleteAllBtn">
                                Xóa tất cả sản phẩm trong giỏ
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="h5">Sản phẩm trong giỏ</th>
                                <th scope="col">Khuyến mãi</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Giá/ 1sp</th>
                                <th scope="col">Xóa sản phẩm</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${carts}">
                                <th scope="row">
                                    <div class="d-flex align-items-center">
                                        <img th:src="@{'/uploads/' + ${item.product.imageUrl}}" class="img-fluid rounded-3" style="width: 120px;"
                                             alt="Book">
                                        <div class="flex-column ms-4">
                                            <p class="mb-2" th:text="${item.product.name}"></p>
                                            <p class="mb-0" th:text="${item.product.brand.name}"></p>
                                        </div>
                                    </div>
                                </th>
                                <td class="align-middle">
                                    <p class="mb-0" style="font-weight: 500;" th:text="'Giảm: ' + ${item.product.discount} + '%'"></p>
                                </td>
                                <td class="align-middle">
                                    <div class="d-flex flex-row">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <input id="quantity" min="0" name="quantity" th:value="${item.quantity}" type="number"
                                               class="form-control form-control-sm" style="width: 50px;" />

                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <p class="mb-0 price" style="font-weight: 500;"></p>
                                    <p class="mb-0" style="font-weight: 500; text-decoration: line-through; font-size: 12px" th:text="${item.product.price} + 'VNĐ'"></p>
                                    <input type="hidden" class="price-pro dis-price" th:value="${item.product.promotionalPrice}">
                                </td>
                                <td class="align-middle">
                                    <button type="button" class="deleteBtn btn btn-danger">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                        <div class="card-body p-4">

                            <div class="row">
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                                    <form>
                                        <div class="d-flex flex-row pb-3">
                                            <div class="d-flex align-items-center pe-2">
                                                <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1v" value=""
                                                       aria-label="..." checked />
                                            </div>
                                            <div class="rounded border w-100 p-3">
                                                <p class="d-flex align-items-center mb-0">
                                                    <i class="fab fa-cc-mastercard fa-2x text-body pe-2"></i>Credit
                                                    Card
                                                </p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row pb-3">
                                            <div class="d-flex align-items-center pe-2">
                                                <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2v" value=""
                                                       aria-label="..." />
                                            </div>
                                            <div class="rounded border w-100 p-3">
                                                <p class="d-flex align-items-center mb-0">
                                                    <i class="fab fa-cc-visa fa-2x fa-lg text-body pe-2"></i>Debit Card
                                                </p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row">
                                            <div class="d-flex align-items-center pe-2">
                                                <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3v" value=""
                                                       aria-label="..." />
                                            </div>
                                            <div class="rounded border w-100 p-3">
                                                <p class="d-flex align-items-center mb-0">
                                                    <i class="fab fa-cc-paypal fa-2x fa-lg text-body pe-2"></i>PayPal
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-6">
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                                                <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                                       placeholder="John Smith" />
                                                <label class="form-label" for="typeName">Name on card</label>
                                            </div>

                                            <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                                                <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YY"
                                                       size="7" minlength="7" maxlength="7" />
                                                <label class="form-label" for="typeExp">Expiration</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                                                <input type="text" id="form3" class="form-control form-control-lg" size="17"
                                                       placeholder="1111 2222 3333 4444" minlength="19" maxlength="19" />
                                                <label class="form-label" for="typeText">Card Number</label>
                                            </div>

                                            <div data-mdb-input-init class="form-outline mb-4 mb-xl-5">
                                                <input type="password" id="typeText" class="form-control form-control-lg"
                                                       placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                                                <label class="form-label" for="typeText">Cvv</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-3">
                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-2">Giá phụ</p>
                                        <p class="mb-2" id="total-price"></p>
                                        <input type="hidden" id="total-input" th:value="${total}">
                                    </div>

                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-0">Phí giao hàng</p>
                                        <p class="mb-0">25.000 VNĐ</p>
                                        <input type="hidden" id="shipping-input" th:value="25000">
                                    </div>

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                                        <p class="mb-2">Tổng tiền</p>
                                        <p class="mb-2 total-amount"></p>
                                    </div>

                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-primary btn-block btn-lg" id="payCart">
                                        <div class="d-flex justify-content-between">
                                            <span>Thanh toán</span>
                                            <span class="total-amount"></span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/user/js/cart.js}"></script>
</main>
</body>

</html>