<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/user/layout-user.html}">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
          integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/user/css/products.css}">
</head>

<body>
<main class="main" layout:fragment="content">
    <div
            class="page-title dark-background"
            data-aos="fade"
    >
        <div class="container position-relative">
            <nav class="breadcrumbs">
                <ol>
                    <li><a th:href="@{/general/home-page}">Trang Chủ</a></li>
                    <li class="current">Sản phẩm</li>
                </ol>
            </nav>
        </div>
    </div>
    <section id="products" class="section">
        <div class = "container">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-12">
                    <div class="row align-items-center d-flex justify-content-between mb-3">
                        <div class="col-md-6 d-flex">
                            <input id="searchField" type="text"  placeholder="Nhập thông tin sản phẩm...">
                            <button id="searchBtn">Tìm kiếm</button>
                        </div>

                        <div class="col-md-3" >
                            <select id="selectQuantity">
                                <option value="1">1 sản phẩm</option>
                                <option value="2">2 sản phẩm</option>
                                <option value="3">3 sản phẩm</option>
                                <option value="4">4 sản phẩm</option>
                                <option value="5">5 sản phẩm</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-4">
                        <h5>Lọc sản phẩm</h5>
                        <div class="accordion" id="categoryAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#categoryOne" aria-expanded="true" aria-controls="categoryOne">
                                        Dress
                                    </button>
                                </h2>
                                <div id="categoryOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                                    <div class="accordion-body">
                                        <ul class="nav flex-column">
                                            <li><a href="#" class="nav-link text-decoration-none">- Shirt</a></li>
                                            <li><a href="#" class="nav-link text-decoration-none">- Pant</a></li>
                                            <li><a href="#" class="nav-link text-decoration-none">- Shoes</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#categoryTwo" aria-expanded="false" aria-controls="categoryTwo">
                                        Thể loại thời trang
                                    </button>
                                </h2>
                                <div id="categoryTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                    <div class="accordion-body">
                                        <p th:each="item : ${categories}" th:text="${item.name}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Price Range Section -->
                    <div class="mb-4">
                        <h5>Khoảng giá</h5>
                        <input id="slider-range" type="range" class="form-range" />
                        <div id="slider-range-amount" class="mt-2">Khoảng: 0 VNĐ - 10.000.000 VNĐ</div>
                    </div>

                    <!-- Filter Section -->
                    <div class="mb-4">
                        <h5>Filter</h5>
                        <form>
                            <div class="mb-3">
                                <label for="brandSelect" class="form-label">Hãng</label>
                                <select id="brandSelect" class="form-select">
                                    <option th:each="item : ${brands}" th:text="${item.name}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="colorSelect" class="form-label">Giảm giá</label>
                                <select id="colorSelect" class="form-select">
                                    <option><10%</option>
                                    <option><25%</option>
                                    <option><50%</option>
                                    <option><70%</option>
                                </select>
                            </div>
                            <button class="btn btn-primary w-100 mt-2" type="submit">Apply Filters</button>
                        </form>
                    </div>
                </div>
                <!-- Main Content -->
                <div class="col-9">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 mb-3 pro-d" th:each="item : ${products}" th:id="'product_' + ${item.productId}"
                             th:data-id="${item.productId}">
                            <div class="product-grid">
                                <div class="product-image">
                                    <a href="#" class="image">
                                        <img th:src="@{'/uploads/' + ${item.imageUrl}}" class="img-fluid zoom">
                                    </a>
                                    <span th:if="${item.discount != 0}" class="product-discount-label" th:text="${item.discount + '%'}"></span>
                                    <ul class="product-links">
                                        <li><a href="" class="add-in-cart"><i class="fa-solid fa-cart-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul>
                                    <a th:href="@{'/web/products/detail/' + ${item.productId}}" class="add-to-cart">Xem chi tiết</a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#" th:text="${item.name}"></a></h3>
                                    <div class="price"></div>
                                    <input type="hidden" class="dis-price" th:value="${item.price}"/>
                                    <div class="text-warning">★★★★☆</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="results"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/user/js/product.js}"></script>
</main>
</body>
</html>