<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/general/css/confirmation.css}">
</head>
<body>
<div class="container">
    <h2>Xác Nhận Email</h2>
    <p>Nhập mã xác nhận 6 chữ số được gửi đến email của bạn:</p>

    <form id="confirmForm">
        <div class="input-container">
            <input type="text" maxlength="1" id="code1" class="code-input" oninput="moveFocus(1)">
            <input type="text" maxlength="1" id="code2" class="code-input" oninput="moveFocus(2)">
            <input type="text" maxlength="1" id="code3" class="code-input" oninput="moveFocus(3)">
            <input type="text" maxlength="1" id="code4" class="code-input" oninput="moveFocus(4)">
            <input type="text" maxlength="1" id="code5" class="code-input" oninput="moveFocus(5)">
            <input type="text" maxlength="1" id="code6" class="code-input" oninput="moveFocus(6)">
        </div>
        <button type="submit" class="submit-btn" id="confirmBtn">Xác Nhận</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/general/js/confirmation.js}"></script>
</body>
</html>