<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng ký</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.14.5/sweetalert2.css" integrity="sha512-6qScZESleBziOBqJwOPurSy6lhLqHGjHNALOOFX0mzRVPiE5SZQvepRzeSO1OB475fcZywuMjxtkrFaO93aq9g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/general/css/toast.css}">
    <link rel="stylesheet" th:href="@{/general/css/login.css}">
</head>

<body>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img th:src="@{/general/img/background.png}" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img th:src="@{/general/img/logo.png}" alt="logo" class="logo">
                        </div>
                        <p class="login-card-description">Đăng nhập tài khoản của bạn</p>
                        <form id="form">
                            <div class="input">
                                <input type="email" name="email" id="email" placeholder="Email" required>
                                <i id = "icon1" class="fa-regular fa-envelope"></i>
                                <i id = "icon2" class="fa-regular fa-circle-check"></i>
                            </div>
                            <div class="input mb-4">
                                <input type="password" name="password" id="password" placeholder="***********" required>
                                <i class="fa-solid fa-key"></i>
                            </div>
                            <a href="#!" class="forgot-password-link">Quên mật khẩu?</a>
                            <p class="login-card-footer-text">Bạn chưa có tài khoản? <a th:href="@{/general/register}" class="text-reset">Đăng ký tại đây</a></p>
                            <input name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Login">
                            <div class="link">
                                <div class="forgot-password-link">--Hoặc đăng nhập với--</div>
                                <div class="nav-link">
                                    <span class="icon text-white d-flex justify-content-center align-items-center"><i
                                            class="fa-brands fa-facebook-f"></i></span>
                                    <span class="icon text-white d-flex justify-content-center align-items-center"><i
                                            class="fa-brands fa-google"></i></span>
                                    <span class="icon text-white d-flex justify-content-center align-items-center"><i
                                            class="fa-brands fa-instagram"></i></span>
                                </div>
                            </div>
                            <nav class="diff login-card-footer-nav">
                                <a href="#!">Điều khoản sử dụng.</a>
                                <a href="#!">Chính sách bảo mật</a>
                            </nav>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.14.5/sweetalert2.min.js" integrity="sha512-JCDnPKShC1tVU4pNu5mhCEt6KWmHf0XPojB0OILRMkr89Eq9BHeBP+54oUlsmj8R5oWqmJstG1QoY6HkkKeUAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(function (){
        $('#login').click(function (e) {
            e.preventDefault()
            var data = {}
            var formData = $('#form').serializeArray()
            formData.forEach(item => data[item.name] = item.value)
            $.ajax({
                url: '/efashion/auth/login',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function(response) {
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: response.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    if(response.data.url) window.location.href = response.data.url
                },
                error: function(xhr) {
                    const errorResponse = xhr.responseJSON;
                    if (errorResponse && errorResponse.message) {
                        Swal.fire({
                            position: "top-end",
                            icon: "error",
                            title: errorResponse.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        console.error("Lỗi không xác định.");
                    }
                }
            });
        })
    })
</script>
</body>
</html>