.content-2-1{
    font-weight: bold;
    margin-top: 10px;
}

.content-2-1 i{
    margin-left: 10px;
}

.desc{
    color: black;
    font-size: 11px;
    margin-bottom: 10px;
}

.content-2-2{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background: #73879C;
    color: white;
}

.content-2-2 select{
    padding: 5px 15px;
    border: 1px solid black;
    margin: 0 2px;
}


.content-2-2 input{
    padding: 5px;
}

table{
    width: 100%;
    color: black;
    font-size: 13px;
}

table th, td{
    padding: 10px;
    border: 1px solid rgb(213, 212, 212);
    white-space: nowrap;
}

th{
    font-weight: bold;
    text-align: center;
}

tr:nth-child(odd){
    background: #F6F9FF;
}

thead tr{
    background: white;
}

.paging{
    margin-top: 10px;
    text-align: right;
}

.icon button{
    background-color: #73879C;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-right: 10px;
    font-weight: bold;
}

.icon button:hover{
    background-color: white;
    color: #73879C;
    border: 1px solid #73879C;
}

table a{
    color: #73879C;
    font-size: 15px;
    margin-right: 10px;
}

#deleteBtn{
    border: none;
    background: transparent;
}

.action-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.action-list li {
    display: inline-block;
}

.action-list li button {
    color: #fff;
    font-size: 13px;
    line-height: 28px;
    height: 28px;
    width: 33px;
    padding: 0;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}

.action-list li a:hover {
    box-shadow: 0 0 5px #ddd;
}

td .image{
    width: 40px;
    height: 60px;
}

td .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

td .image-brand{
    width: 80px;
    height: 50px;
}

td .image-brand img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#overlay {
    display: none;
    /* Ẩn overlay ban đầu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Nền tối mờ */
    z-index: 999;
    /* Lớp cao để luôn trên các phần tử khác */
}

#myForm {
    display: none;
    position: fixed;
    top: 15%;
    /* Canh giữa dọc */
    right: 15%;
    /* Canh giữa ngang */
    width: 70%;
    /* Chiếm 80% chiều rộng màn hình */
    height: 70%;
    /* Chiếm 80% chiều cao màn hình */
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.title {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.close-btn {
    float: right;
    background: #ff5f5f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn:hover {
    background: #e05555;
}

.btn-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-form button {
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.btn-form #confirmBtn {
    background-color: rgb(0, 168, 20);
}

.btn-form #cancelBtn {
    background-color: red;
}

.btn-form #uploadBtn {
    background-color: orange;
}

form .image {
    width: 85%;
    border: 1px solid rgb(189, 187, 187);
}

form .image img {
    width: 100%;
    aspect-ratio: 2/3;
}

form .image-brand {
    width: 85%;
    border: 1px solid rgb(189, 187, 187);
}

form .image-brand img {
    width: 100%;
    aspect-ratio: 3/2;
}

select{
    width: 100%;
    border: 1px solid rgb(189, 187, 187);
    padding: 12px 10px;
    color: gray;
    border-radius: 5px;
}

